@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
background-color: #1A0B2E;


}
.inter-font {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
}
/* shared style */ 
.display-flex {
    display: flex;
}
.btn {
    color: white;
    padding: 12px 16px;
    border-radius: 20px;
   background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1))) ;
font-weight: 600;
}
/* navbar */
header {
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}
nav {
    justify-content: space-around;
    margin: 10px 200px;
    align-items: center;
}
.logo-title {
    font-size: 2.8rem;
    font-weight: 800;
    color: white;
}
.logo-span {
  background: linear-gradient(45.6deg, #44caff 0%, #718dff 16.6%, #a056f4 33.3%, #df32c6 50%, #ff2094 66.6%, #ff3b64 83.3%, #ff663f 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    text-align: left;
    color: white;
    margin-right: 32px;
    opacity: .9;
}
/* hero bg */
.hero {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
background-size: cover;
}
.hero-bg {
    background-image: url(assets/hero-circle.png);
   width: 500px;
   height: 500px;
   justify-content: center;
   align-items: center;
   margin-top: 160px;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}
.hero-bg .new {
position: absolute;
top: 30px;
left: 400px;
border:2px solid rgba(0, 255, 136, 1);
color: black;
background: rgba(0, 255, 136, 1);
padding: 12px 20px;
border-radius: 24px;
font-weight: 600;
text-transform: uppercase;
}
.hero-text h2{
    text-align: center;
color: white;
font-size: 4rem;
font-weight: 800;
margin-top: 40px;
margin-bottom: 10px;

}
.hero-text p {
    text-align: center;
    color: white;
opacity: .8;
margin-bottom: 24px;


}

.btn-2 {
color: rgba(0, 255, 136, 1);
background-color: transparent;
padding: 12px 20px;
border: 2px solid rgba(0, 255, 136, 1);
border-radius: 20px;

}
.hero-button {
    gap: 20px;
    margin-bottom: 40px;
}
.hero-button button {
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 12px 24px;
    border-radius: 24px;
}

.hero-button button {
    font-weight: 600;
}
.btn:hover {
    transform: translate(-10px);
transition: tranform 2s ease-in-out;
background: linear-gradient(45.6deg, #44caff 0%, #718dff 16.6%, #a056f4 33.3%, #df32c6 50%, #ff2094 66.6%, #ff3b64 83.3%, #ff663f 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

}
.btn-2:hover {
    color: #1A0B2E;
    background-color: rgba(0, 255, 136, 1);
}
/* About section */ 
.podcast {
    margin: 50px 200px 120px 200px;

}
.about {
    text-align: center;
    padding: 0px 400px;
}
.about h2 {
    color: white;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.about p {
    color: white;
    opacity: .6;
font-weight: 400;
line-height: 30px;
margin-bottom: 100px;
}
.podcast hr {
    border: none;
    border-top: 2px solid rgba(65, 37, 103, 1);
}
.num-card-div {
    justify-content: space-around;
    margin-top: 80px;
}
.num-card {
    text-align: center;
}
.num-card h3 {
   font-size: 3rem;
   font-weight: 800;
   color: rgba(0, 255, 136, 1); 
   margin-bottom: 16px;
}
.num-card p {
    color: white;
    opacity: .7;
    text-transform: uppercase;
}